@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    background: #333 url(images/header.png) no-repeat center center;
    background-size: cover;
    text-align: center;
}
header div {
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
header:hover div {
    opacity: 1;
}
section.icons {
    background: #333;
    color: #FFFFFF;
    text-align: center;
}
section.icons div div {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
section.icons h3,
section.icons p {
    opacity: 0;
}
section.icons div div:hover h3,
section.icons div div:hover p {
    opacity: 1;
}